:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.js-open-menu {
  background-color: transparent;
}

.js-menu-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  padding: 40px 40px 40px 0;
  z-index: 100;
}

.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  background-color: var(--corn-flower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover {
  background-color: var(--button-animation);
  fill: #fff;
}

.js-close-menu:focus {
  background-color: var(--button-animation);
  fill: #fff;
}

.js-close-menu svg {
  width: 8px;
  height: 8px;
}

.sidebar-list-a.current:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 66px;
  color: var(--iris);
}

.sidebar-list-a {
  color: var(--navy-blue);
  text-decoration: none;
  list-style-type: none;
}

.sidebar-list {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 700;
  color: var(--navy-blue);
  text-decoration: none;
  list-style-type: none;
}

.sidebar-list li {
  margin-bottom: 40px;
}

.sidebar-list li:last-child {
  margin-bottom: 0;
}

.sidebar-list a:hover {
  color: var(--button-animation);
}

.sidebar-list a:focus {
  color: var(--button-animation);
}

.sidebar-contacts {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-decoration: none;
}

.sidebar-link {
  font-size: 20px;
  text-decoration: none;
}

.sidebar-link:first-child {
  margin-bottom: 40px;
  font-size: 40px;
  color: var(--iris);
}

.sidebar-link {
  color: #000;
}

.sidebar-wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  margin-left: 40px;
}

.sidebar-buttons {
  margin-top: 48px;
  display: flex;
  padding: 0;
}

.sidebar-button {
  list-style-type: none;
  margin-right: 56px;
}

.sidebar-button:last-child {
  margin-right: 0;
}

.js-menu-container .icon-teams {
  width: 24px;
  height: 24px;
}

.is-open {
  transform: none;
}

.menu-toggle {
  border: none;
}

.container-menu-button {
  display: flex;
  justify-content: right;
}


.header {
  padding: 24px 16px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header-logopart {
  margin-top: 24px;
  width: 71px;
  height: 24px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;

  color: var(--navyblue);
}

.header-navigation {
  margin-left: 77px;
  padding-left: 0;
  display: flex;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.header-navigation-item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

.header-navigation-page::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -24px;
  background: var(--iris);

  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -24px;
  background: var(--iris);
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: 100%;
  color: var(--iris);
}

.header-navigation-page:hover::after {
  left: 0;
  width: 100%;
}

.header-navigation-item {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

.header-navigation-item:last-child {
  margin-right: 0;
}

.header-navigation-page {
  font-weight: 600;

  text-decoration: none;

  letter-spacing: 0.02em;

  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-page:hover {
  color: #4d5ae5;
}

.header-contacts {
  text-align: right;
  margin-left: auto;
}

.header-contacts-item {
  height: 24px;
  margin-right: 40px;

  text-decoration: none;

  letter-spacing: 0.02em;

  color: var(--slate);
}
/* 
.header-contacts-item-last-child {
  margin-right: 0;
} */

.header-contacts-item:hover {
  color: #4d5ae5;
}
/* .section {
  padding-bottom: 120px;
} */

.buttons {
  padding: 8px 16px;
}

.buttons-box {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 96px 0 72px;
}

.button-items {
  margin-right: 24px;
}

.button-item {
  align-items: center;
  padding: 12px 24px;

  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-weight: 600;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover {
  background-color: var(--iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.button-item:focus {
  background-color: var(--iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.projects-images {
  display: block;
}

.projects-examples {
  text-align: left;

  background: #ffffff;

  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link {
  text-decoration: none;
}

.projects-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-action {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px 63px;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  font-size: 18px;
  color: #ffffff;
  margin: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.projects-link:hover .projects-action {
  transform: translateY(0%);
  opacity: 1;
}

.projects-link:focus .projects-action {
  transform: translateY(0);
  opacity: 1;
}

.projects-examples:hover {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-examples:focus {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-examples:nth-child(3n) {
  margin-right: 0;
}

.first-row,
.second-row {
  margin-bottom: 48px;
}

.projects-examples-descriptions {
  padding: 32px 0 32px 16px;
  position: relative;
  background-color: #ffffff;
}

.projects-examples-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 8px;

  letter-spacing: 0.02em;

  color: #2e2f42;
}

.projects-examples-text {
  margin: 0;

  letter-spacing: 0.02em;

  color: #434455;
}

.footer {
  padding: 100px 0;
  background-color: var(--navyblue);
}

.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-decoration: none;
  color: var(--iris);
}

.footer-logo-part {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;

  color: #f4f4fd;
}

.footer-social-media-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-logo-text {
  padding-top: 16px;
  margin: 0;
  width: 264px;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}

.footer-social-media-text {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  padding-bottom: 16px;
}

.footer-social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-button-block {
  margin-right: 16px;
}

.footer-social-media-button-block:last-child {
  margin-right: 0;
}

.footer-social-media-button:hover {
  background-color: #31d0aa;
}

.footer-social-media-button:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  display: block;
  margin-left: 120px;
}

.footer-logo-description {
  display: block;
}

.footer-text {
  display: flex;
}

.footer-social-media-icon {
  width: 24px;
  height: 24px;
}

.footer-box {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 80px;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--navyblue);
  width: 264px;
  height: 40px;
}

.footer-label-box {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  position: relative;
}

.footer-label {
  text-align: left;
  color: #ffffff;
  bottom: 60%;
  margin-bottom: 28px;
  font-weight: 500;
}

.footer-button {
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 64px 8px 24px;
  height: 40px;
  width: 165px;
  border: none;
  position: relative;
}

.footer-icon {
  width: 24px;
  height: 20px;
  margin-left: 16px;
  position: absolute;
  margin-bottom: 8px;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {

  .header-box {
    display: flex;
  justify-content: space-between;
  }
  
  nav,
.header-contacts {
  display: none;
}
.buttons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: unset;
  padding: 48px 0;
}

.button-items {
  padding-bottom: 16px;
}

.projects {
  flex-direction: column;
  display: flex;
  justify-content: center;
}


.projects-examples {
  margin: 0 0 48px;
}

.projects-images {
  width: 100%;
}


.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-logo-description {
  margin: 0 auto;
}

.footer-logo {
  display: block;
  text-align: center;
}

.footer-social-media {
  margin-left: unset;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-social-media-text {
  display: block;
  text-align: center;
  margin-top: 72px;
}

.footer-box {
  margin-left: unset;
  flex-direction: column;
  align-items: center;
}

.footer-label {
  text-align: center;
}

.footer-form-input {
  width: 100%;
  max-width: 396px;
  margin: 0 auto;
}

.footer-button {
  margin: 0 auto;
  margin-top: 16px;
} 

.footer-label-box {
  margin: 0;
}

}

@media screen and (min-width: 768px) and (max-width: 1120px) {

  .modal {
    width: 408px;
  height: 584px;
  }

  .container-menu-button {
    display: none;
  }


  nav,
  .header-contacts {
display: unset;
  }

.header-navigation {
  margin-left: 123px;
}

.header-contacts-item {
  font-size: 12px;
  font-weight: 400;
}

  .header-contacts-item{
    margin: unset;
    display: flex;
    gap: 4px;
    flex-direction: column;
  }

  .header-navigation-page::after {
    content: "";
    bottom: -36px;
  }

.buttons-box {
  justify-content: center;
}  

.projects-examples {
  margin: 0 0 72px;
}


.projects-examples:nth-child(2n){
  margin-left: 24px;
}

.projects-examples:last-child {
  margin: unset;
}

.projects {
  margin-bottom: 96px;
  justify-content: center;
}

  .footer-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 108px;
  }

  .footer-logo-description {
    margin-bottom: 72px;
  }

  .footer-box {
    margin: 0;
  }

  .footer-button {
    margin-top: 52px;
  }

  .footer-social-media {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1121px) {


  .header-logo {
    margin-left: 156px;
  }
  
  .header-contacts-item {
    margin-right: 40px;
  }
  
  .header-contacts-item:last-child {
    margin-right: 0;
  }
  
  .header-navigation-page::after {
    content: "";
    bottom: -25px;
  }
  
  .header-contacts {
    display: flex;
    flex-direction: row;
    margin-right: 156px;
  }
  
    .container-menu-button {
      display: none;
    }
  
  .projects {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }

 .projects-examples {
  margin-right: 24px;
 } 

 .projects-examples:nth-child(3n) {
  margin-right: 0;
 }

 .footer-logo-description {
  margin-left: 156px;
 }

 .footer-box {
  align-items: unset;
 }
 .footer-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 .footer-button {
  margin-top: 52px;
 }

}
